:root {
    --c-text-primary: rgb(31, 35, 40);
    --c-text-header: #7E7F79;
    --c-border-primary: rgba(0, 0, 0, .1);
    --c-bg-body: #fff;
    --c-bg-sidebar: #fff;
    --c-bg-primary: #fff;
    --c-bg-secondary: #d4d8dd;
    --c-bg-button: #fff;
    --c-bg-sb-icon: #F0F2F4;
  }
  :root.dark-theme {
    --c-text-primary: #cbd6e2;
    --c-text-header: #fff;
    --c-border-primary: #373E47;
    --c-bg-body: #1c2128;
    --c-bg-sidebar: #22272e;
    --c-bg-primary: #2d333b;
    --c-bg-secondary: #222128;
    --c-bg-button: #494a50;
    --c-bg-sb-icon: #2e2f33;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--c-text-primary);
    background: var(--c-bg-body);
}

i{
    font-size: 1.8em;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 75px;
    background: var(--c-bg-sidebar);
    z-index: 1;
    transition: all 0.5s ease;
    border-right: solid 1px var(--c-border-primary);
    white-space: nowrap;
}

.sidebar.active{
    width: 220px;
}

.sidebar .logoContent .logo{
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: -1px;
    padding-block: 20px;
    padding-left: 10px;
}

.sidebar .logoContent .logo span{
    opacity: 0;
    transition: all 0.3s ease;
}

.sidebar.active .logoContent .logo span{
    opacity: 1;
}

.sidebar #btn{
    position: absolute;
    right: 8px;
    transform: translateY(-3px);
    transform: translateX(-14px);
    cursor: pointer;
}

.sidebar.active #btn{
    transform: translateX(0);
}

.sidebar ul li i{
    min-width: 40px;
}

.sidebar ul li .tooltip{
    position: absolute;
    background:var(--c-bg-sb-icon);
    padding: 8px;
    border-radius: 8px;
    opacity: 0;
    transform: translate(60px, -57px);
    transition: all .6s ease;
    pointer-events: none;
}

.sidebar ul li:hover .tooltip{
    opacity: 80%;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar .nameList{
    padding-inline: 10px;
    list-style: none;
    display: flex;
    height: calc(100% - 66px);
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .nameList li a{
    text-decoration: none;
    color: var(--c-text-primary);
    display: flex;
    padding: 10px 13px;
    margin-bottom: 10px;
}

.sidebar .nameList li a:hover{
    background: var(--c-bg-sb-icon);
    color: var(--c-text-primary);
    border-radius: 12px;
}

.sidebar .nameList li a span{
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

.sidebar.active .nameList li a span{
    opacity: 1;
}

.sidebar .nameList .bottomItems{
    padding-bottom: 20px;
    cursor: pointer;
}

.sidebar .itemsHeader{
    text-align: center;
    padding-block: 6px;
    opacity: 0;
    cursor: default;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.sidebar.active .itemsHeader{
    opacity: 1;
}

.home{
    position: relative;
    left: 75px;
    width: calc(100% - 75px);
}

header{
    border-bottom: solid 1px var(--c-border-primary);
    max-height: 66px;
    overflow: hidden;
}

header .bizName{
    font-size: 1.4em;
    padding: 16px;
    font-weight: 400;
}

.headerContent{
    display: flex;
    justify-content: space-between;
}

.headerContent .rightContent{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.headerContent .rightContent .userProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    margin-left: 40px;
}

.userProfile .name{
    font-size: 0.9em;
    font-weight: 400;
}

.userProfile .job{
    font-size: 0.7em;
    text-align: right;
}

.userProfile .profilePicture{
    font-size: 23px;
}

.content h1{
    font-weight: 400;
    text-align: center;
    padding-top: 40px;
}

.return{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.return a{
     color: black;
     font-size: 80px;
}

.return span {
    transform: translateY(-30px);
    font-size: 30px;
}

.modal {
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    background: var(--c-bg-primary);
    width: 500px;
    margin: auto;
    color: var(--c-text-primary);
    & > * {
      margin: 0 0 0.5rem 0;
    }
}

.modalHeader{
    color: var(--c-text-header);
    position: relative;
    padding-block: 20px;
    border-bottom: solid 1px var(--c-border-primary);
}

.modalHeader h1{
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.modalX{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modalContent{
    padding: 15px 40px;
    text-align: justify;
}

.modalContent h2{
    font-size: 18px;
    color: var(--c-text-header);
    font-weight: 500;
    padding-block: 15px;
}

.switchContainer .theme-switcher{
    position: relative;
    background: var(--c-bg-secondary);
    border-radius: 10px;
    display: flex;
    padding: 0 4px;
}

.theme-switcher input{
    display: none;
}

.theme-switcher label{
    position: relative;
    width: calc(100% / 2);
    z-index: 2;
    padding: 10px 0;
}

.theme-switcher label span{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.theme-switcher label span:hover{
    opacity: 1;
    cursor: pointer;
}

.theme-switcher .slider{
    position: absolute;
    width: calc((100% - 8px) / 2);
    background: var(--c-bg-button);
    z-index: 1;
    top: 3px;
    bottom: 3px;
    border-radius: 10px;
    transition: .30s ease, transform 0.25s ease-out;
}

.theme-switcher input:nth-of-type(1):checked ~ .slider{
    transform: translateX(0);
}

.theme-switcher input:nth-of-type(2):checked ~ .slider{
    transform: translateX(100%);
}

.stgModal ul li{
    list-style: none;
    padding-block: 20px;
}

.stgModal ul li a{
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: .7;
}

.stgModal ul li a:hover{
    opacity: 1;
}

.stgModal ul li a i{
    font-size: 28px;
    margin-right: 10px;
    transform: translateY(1px);
}

.lgtModal .logoutText{
    padding-block: 8px;
}

.lgtModal .logoutButtons{
    float: right;
    padding-top: 25px;
    padding-bottom: 15px;
}

.lgtModal .logoutButtons button{
    font-family: 'Poppins';
    font-weight: 600;
    padding: 6px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: red;
    color: #fff;
}

.lgtModal .logoutButtons #logoutClose{
    background: #F0F4FA;
    color: #4f5463;
}

.modalContentAU{
    padding-block: 15px;
}

.modalContentAU h2{
    padding-block: 10px;
}
